<h1>Recadastramento de Senha</h1>

<p>Para recadastrar sua senha clique no link abaixo:</p>

<%= link_to "Recadastrar senha", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>Este link irá expirar em duas horas.</p>

<p>
Se você não solicitou este recadastramento de senha, por favor desconsidere este email.
</p>