<h1> User List </h1>

<form class="form-inline my-2 my-lg-0" style="margin-left:70%">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<br>

<table class="table" id="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Username</th>
    <th scope="col">Course</th>
    <th scope="col">Email</th>
    <th scope="col">Registration</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td> <%= user.username %> </td>
      <td> <%= user.course %> </td>
      <td> <%= user.email %> </td>
      <td> <%= user.registration %> </td>
    </tr>
  <% end %>
  </tbody>
</table>