<h2>Edit Appointment</h2>

<%= form_for(@appointment) do |r| %>
  
  <div class="field">
    <%= r.label :status %><br>
    <%= r.select :status, [['Solicitado', '1'], ['Aprovado', '2'], ['Reprovado', '3']] %>
  </div>
  
  
  <div class="actions">
    <%= r.submit "Update" %>
  </div>

<% end %>

