env:
  RUBY_VERSION: 2.7.2
  DB_USER: engsoft
  DB_PASSWORD: engsoft

name: Rails tests
on:
  pull_request:
    - master

jobs:
  linters:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}

      - name: Install Rubocop Gems
        run: |
          gem install rubocop -v 1.19.0
          gem install rubocop-rails -v 2.11.1
          gem install rubocop-performance -v 1.11.3
          gem install rubocop-rspec -v 2.4.0
      - name: Check code
        run: rubocop

  rspec-test:
    name: RSpec
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: ${{ env.DB_USER }}
          POSTGRES_PASSWORD: ${{ env.DB_PASSWORD }}
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true

      - uses: actions/setup-node@v1
        with:
          node-version: 14.16.0

      - name: Cache Node Modules
        uses: actions/cache@v2
        env:
          cache_name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npmbuild-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-npmbuild-${{ env.cache-name }}-
            ${{ runner.os }}-npmbuild-
            ${{ runner.os }}-
      - name: Install postgres client
        run: sudo apt-get install libpq-dev

      - name: Install Bundler
        run: gem install bundler

      - name: Bundle Install
        run: bundle install

      - name: Yarn Install
        run: yarn install

      - name: Create database
        run: |
          bundle exec rails db:create RAILS_ENV=test
          bundle exec rails db:migrate RAILS_ENV=test
      - name: Run tests
        run: bundle exec rspec spec